{% extends "layout2.html" %}

{% block body_content %}
<section>
   <h3>Please login with your username and password!</h3>

   {# Show an error message if login fails #}
   {% if error %}
   <p style="color: red;">{{ error }}</p>
   {% endif %}

   <form action="" method="POST">
      <p><label for="username">Username:</label></p>
      <p><input type="text" id="username" name="username" required /></p>

      <p><label for="password">Password:</label></p>
      <p><input type="password" id="password" name="password" required /></p>

      <p><input type="submit" value="Login" /></p>
   </form>
</section>
{% endblock %}