{% extends "layout2.html" %}
{% block body_content %}

<section>
    <div class="row strong">
        <div class="col-sm">Firstname</div>
        <div class="col-sm">Lastname</div>
    </div>
    <hr>
    {% for person in people %}
    <div class="row">
        <div class="col-sm">
    <p>{{person.Firstname}}</p>
        </div>
        <div class="col-sm">
    <p><strong>{{ person.Lastname }}</strong></p>
                </div>
       <hr>
    </div>
    {% endfor %}
 </section>

{% endblock %}
