{% extends "layout2.html" %}

{% block body_content %}
    <h3 class="margin">Project Details</h3>
    <section>
        <p>ID: {{ project.ID }}</p>
        <p>Name: <strong>{{ project.name }}</strong></p>
        <p>Description: {{ project.description }}</p>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                    <img src="{{ image_src }}" class="img-responsive margin" width="40%" alt="Main project image">
            </div>
            {% if image_gif %}
            <div class="col-sm-6">
                <img src="{{ image_gif }}" class="img-responsive margin" width="40%" alt="Optional project GIF">
            </div>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                {% if previous_url %}
                    <a href="{{ previous_url }}">Previous</a>
                {% endif %}
            </div>
            <div class="col-sm-6 text-right">
                {% if next_url %}
                    <a href="{{ next_url }}">Next</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
